<ng-container *ngIf="data$ | async as oldData">
    <div class="card">
        <p-table #dt1 [columns]="selectedColumns" [value]="oldData" dataKey="Id" selectionMode="single"
            [(selection)]="selectedCeshtje" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm"
            [scrollable]="true" [rows]="100" scrollHeight="600px" [virtualScroll]="true" [virtualRowHeight]="34"
            [globalFilterFields]="['Emri','Mbiemri','Kategoria','Sipas Nenit']" (onRowSelect)="onRowSelect($event)"
            (onRowUnselect)="onRowUnselect($event)">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <button pButton label="Fshi Kerkimin" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                            placeholder="Kerko ne tabele" />
                    </span>
                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                        selectedItemsLabel="{0} Kolona të zgjedhura" [style]="{minWidth: '200px'}"
                        placeholder="Zgjidh një kolonë">
                    </p-multiSelect>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            {{col.header}}
                            <p-columnFilter type="{{col.type}}" field="{{col.header}}" display="{{col.menu}}">
                            </p-columnFilter>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td *ngFor="let col of columns">
                        {{data[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">S'ka te dhena per kerkimin.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-container>