# This code is licensed from CircleCI to the user under the MIT license.
# See here for details: https://circleci.com/developer/orbs/licensing
version: 2.1

orbs:
  common: okode/common@volatile
  node: circleci/node@4

jobs:
  build:
    parameters:
      project:
        type: string
    executor: common/node
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Building
          command: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - dist