<p-dialog [(visible)]="show" [modal]="true" [style]="{width: '70vw'}" [maximizable]="true" [baseZIndex]="9999"
    [draggable]="false" [resizable]="false" (onHide)="closeModal()" appendTo="body">
    <ng-template pTemplate="header" appendTo="body">
        <h3 *ngIf="method == 'create'">Çështje e re</h3>
        <h3 *ngIf="method == 'update'">Të dhënat e ngjarjes për {{oldCeshtje.emri}} {{oldCeshtje.mbiemri}} - dt:
            {{oldCeshtje.data_e_ngjarjes | date}}
        </h3>
    </ng-template>
    <div class="row py-4 justify-content-center">
        <div class="col-12 col-sm-10">
            <form [formGroup]="valForm" class="form-horizontal" (submit)="save()">
                <div class="form-group row" *ngFor="let key of keys; index as i" [title]="key.field">
                    <label class="text-bold col-xl-4 col-md-4 col-4 col-form-label text-right"
                        for="inputContact{{i+1}}">{{key.header}}</label>
                    <div class="col-xl-8 col-md-8 col-8">
                        <input class="form-control" id="inputContact{{i+1}}" type="text"
                            *ngIf="!key.textArea && ! key.calendar && !key.dropdown" [formControlName]="key.field" />
                        <textarea class="form-control" id="inputContact{{i+1}}" row="4" *ngIf="key.textArea"
                            [formControlName]="key.field"></textarea>
                        <p-calendar inputId="inputContact{{i+1}}" [formControlName]="key.field" [showIcon]="true"
                            *ngIf="key.calendar"></p-calendar>
                        <p-dropdown placeholder="{{key.header}}" *ngIf="key.dropdown && key.field == 'sipas_Nenit'" [formControlName]="key.field"
                            [showClear]="true" [options]="sipasNenit"></p-dropdown>
                        <p-dropdown placeholder="{{key.header}}" *ngIf="key.dropdown && key.field == 'kategoria'" [formControlName]="key.field"
                            [showClear]="true" [options]="kategoria"></p-dropdown>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Save" class="p-button-raised p-button-text"
            (click)="save()"></button>
        <button pButton pRipple type="button" label="Close" class="p-button-raised p-button-text p-button-plain"
            (click)="closeModal()"></button>
    </ng-template>
</p-dialog>